! i3 draws colors from this file; termite, dunst, vim, zathura, cmus require
! scripts to generate new configs and rc from `xrdb -query` output

!  Base16 GruvBox Dark Hard, adapted from 
!   Dawid Kurek (dawikur@gmail.com),
!   morhetz (https://github.com/morhetz/gruvbox)

! # black, grey, silver, white
#define gbcolor0 #1d2021
#define gbcolor8 #665c54
#define gbcolor7 #d5c4a1
#define gbcolor15 #fbf1c7

! red
! #define gbcolor1 #fb4934 
#define gbcolor1 #cc241d 
#define gbcolor9 #fb4934 

! green
! #define gbcolor2 #b8bb26
#define gbcolor2 #98971a
#define gbcolor10 #b8bb26

! yellow
! #define gbcolor3 #fabd2f
#define gbcolor3 #d79921
#define gbcolor11 #fabd2f

!blue
! #define gbcolor4 #83a598
#define gbcolor4 #458588
#define gbcolor12 #83a598

!purple
! #define gbcolor5 #d3869b
#define gbcolor5 #b16286
#define gbcolor13 #d3869b

! cyan / teal
! #define gbcolor6 #8ec07c
#define gbcolor6 #689d6a
#define gbcolor14 #8ec07c

! orange
#define gbcolor16 #fe8019
#define gbcolor17 #d65d0e

! grey
#define gbcolor18 #3c3836
#define gbcolor19 #504945

! cream
#define gbcolor20 #bdae93
#define gbcolor21 #ebdbb2

! termite named colors
#define gbforeground gbcolor7
#define gbforegroundbold gbcolor21
#define gbbackground gbcolor0
#define gbcursor gbcolor21
#define gbcursorforeground gbcolor0


! termite named colors
*foreground: gbforeground
*foregroundbold: gbforegroundbold
*background: gbbackground
*cursor: gbcursor
*cursorforeground: gbcursorforeground
!
! # black, grey, silver, white
*color0: gbcolor0
*color8: gbcolor8
*color7: gbcolor7
*color15: gbcolor15

! red
*color1: gbcolor1
*color9: gbcolor9

! green
*color2: gbcolor2
*color10: gbcolor10

! yellow
*color3: gbcolor3
*color11: gbcolor11

!blue
*color4: gbcolor4
*color12: gbcolor12

!purple
*color5: gbcolor5
*color13: gbcolor13

! cyan
*color6: gbcolor6
*color14: gbcolor14

! orange
*color16: gbcolor16
*color17: gbcolor17

! grey
*color18: gbcolor18
*color19: gbcolor19

! cream
*color20: gbcolor20
*color21: gbcolor21

! vim: cms=!%s
